.sidebar {
  max-height: calc(100vh - (var(--ifm-navbar-height) + 2rem));
  overflow-y: auto;
  position: sticky;
  top: calc(var(--ifm-navbar-height) + 2rem);
}
.sidebarItemTitle {
  font-size: var(--ifm-h3-font-size);
  font-weight: var(--ifm-font-weight-bold);
}
.sidebarItemList {
  font-size: 0.9rem;
}
.sidebarItem {
  margin-top: 0.7rem;
  padding-bottom: 0.7rem;
  border-bottom: 1px solid var(--ifm-color-emphasis-200);
}
.sidebarItemLink {
  color: var(--ifm-font-color-base);
  display: block;
  font-weight: 500;
}
.sidebarItemLink:hover {
  text-decoration: none;
}
.sidebarItemLinkActive {
  color: var(--ifm-color-primary) !important;
}
.sidebarItemMeta {
  display: block;
  font-size: 0.75rem;
  color: var(--ifm-color-emphasis-600);
  margin-top: 0.4rem;
}
@media (max-width: 996px) {
  .sidebar {
    display: none;
  }
}
.yearGroupHeading {
  margin-top: 1.6rem;
  margin-bottom: 0.4rem;
}
